[Unit]
Description=Veni Gunicorn socket

[Socket]
ListenStream=/run/gunicorn.sock
SocketUser=nginx
Group=nginx
SocketMode=0660

[Install]
WantedBy=sockets.target
