[Unit]
Description=Veni Gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
User=ec2-user
Group=nginx
WorkingDirectory=/var/www/veni/repo/backend
EnvironmentFile=/var/www/veni/repo/backend/.env
ExecStart=/var/www/veni/repo/backend/.venv/bin/gunicorn \
    --access-logfile - \
    --error-logfile - \
    --workers 2 \
    --timeout 60 \
    --bind unix:/run/gunicorn.sock \
    config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
